body{
    background-color: rgb(203, 114, 255);
    color: aliceblue;
}

header{
    background-color: rgb(228, 82, 191);
    color: rgb(58, 47, 221);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 0%;
    top: 0%;
    left: 0%;
}

.links a{
    color: aliceblue;
}


#Início{
   text-align: center;
}

#diretor{
    text-align: center;
}

h1{
    color: rgb(23, 11, 187);
}

#informações{
    text-align: center;
}

.filmes{
    text-align: center;
}

.filmes03{
    text-align: center;
}

#licoes{
    text-align: center;
}

#criticas{
    text-align: center;
}