body{
    background-color: rgb(203, 114, 255);
    color: aliceblue;
}

header{
    background-color: rgb(228, 82, 191);
    color: rgb(58, 47, 221);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 0%;
    top: 0%;
    left: 0%;
}

.links a{
    color: aliceblue;
    text-decoration: none;
}

ul {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}

ul li{
    display: inline;
    margin: 100px;
}


#Início{
   text-align: center;
}

#diretor{
    text-align: center;
}

h1,
h2{
    color: rgb(23, 11, 187);
}

#informações{
    text-align: center;
}

.filmes{
    text-align: center;
}

.filmes03{
    text-align: center;
}

#licoes{
    text-align: center;
}

#criticas{
    text-align: center;
}

form{
    max-width: 600px;
    margin: 0 auto;
    background-color: azure;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #e99898;
}

form fieldset{
    border: 1px solid #faadad;
    padding: 10px;
    margin-bottom: 10px;
}
form label{
    display: block;
    margin-bottom: 5px;
    color: black;
}
form legend{
    padding: 0 10px;
    font-weight: bold;
    color: black;
}

form button:hover{
    background-color: #e70101;
}

form button{
    cursor: pointer;
    background-color: #fffb00;
    color: #000000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}